html,
body {
  height: 100%;
}

.display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display,
img {
  width: 400px;
  margin: 5px;
}

#subreddit {
  font-weight: 600;
}

#post {
  border: 1px black solid;
  margin: 20px;
  padding: 20px;
}

#image {
  display: flex;
  justify-content: center;
  align-items: center;
}
